<div class="panel panel-primary">
	<div class="panel-heading">
    	<h5>{{ title }}</h5>
	</div>
	
	<div class="panel-body">
 		<mat-form-field appearance="legacy">
    		<mat-label>loginId</mat-label>
		    <input matInput ngDefaultControl placeholder="loginId" name="admin.loginId" [(ngModel)]="admin.loginId">
    		<mat-hint></mat-hint>
  		</mat-form-field>
<p>
 		<mat-form-field appearance="legacy">
    		<mat-label>password</mat-label>
		    <input matInput ngDefaultControl placeholder="password" name="admin.password" [(ngModel)]="admin.password">
    		<mat-hint></mat-hint>
  		</mat-form-field>
<p>
   		<mat-form-field appearance="legacy">
    		<mat-label>Users</mat-label>
			<mat-select placeholder="Users" multiple  [compareWith]="compareFn"  [(ngModel)]="admin.Users">
		    	<mat-option name="admin.Users" ngDefaultControl  
		    		*ngFor="let user of users"		    		 
		    		[value]="user._id">
		      		{{user.firstName}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
   		<mat-form-field appearance="legacy">
    		<mat-label>ReferenceEngines</mat-label>
			<mat-select placeholder="ReferenceEngines" multiple  [compareWith]="compareFn"  [(ngModel)]="admin.ReferenceEngines">
		    	<mat-option name="admin.ReferenceEngines" ngDefaultControl  
		    		*ngFor="let referenceEngine of referenceEngines"		    		 
		    		[value]="referenceEngine._id">
		      		{{referenceEngine.name}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
                <button 
		    (click)="updateAdmin(admin.loginId, admin.password, admin.Users, admin.ReferenceEngines)" 
		    class="btn btn-primary">update
		</button>
	</div> <!-- panel body -->	
</div> <!-- panel panel-primary -->
