<div class="panel panel-primary">
	<div class="panel-heading">
    	<h5>{{ title }}</h5>
	</div>
	
	<div class="panel-body">
		<mat-form-field appearance="legacy">
    		<mat-label>responseText</mat-label>
		    <input matInput ngDefaultControl placeholder="responseText" name="responseText" [(ngModel)]="responseText">
    		<mat-hint></mat-hint>
  		</mat-form-field>
<p>
		<mat-form-field appearance="legacy">
    		<mat-label>gotoQuestionId</mat-label>
		    <input matInput ngDefaultControl placeholder="gotoQuestionId" name="gotoQuestionId" [(ngModel)]="gotoQuestionId">
    		<mat-hint></mat-hint>
  		</mat-form-field>
<p>
          <button 
		    (click)="addResponseOption(responseText, gotoQuestionId)" 
		    class="btn btn-primary">add
		</button>
	</div> <!-- panel body -->	
</div> <!-- panel panel-primary -->
