<div class="panel panel-primary">
	<div class="panel-heading">
    	<h5>{{ title }}</h5>
	</div>
	
	<div class="panel-body">
		<mat-form-field appearance="legacy">
    		<mat-label>aggregateScore</mat-label>
		    <input matInput ngDefaultControl placeholder="aggregateScore" name="aggregateScore" [(ngModel)]="aggregateScore">
    		<mat-hint></mat-hint>
  		</mat-form-field>
<p>
		<mat-form-field appearance="legacy">
    		<mat-label>weight</mat-label>
		    <input matInput ngDefaultControl placeholder="weight" name="weight" [(ngModel)]="weight">
    		<mat-hint></mat-hint>
  		</mat-form-field>
<p>
		<mat-form-field appearance="legacy">
    		<mat-label>name</mat-label>
		    <input matInput ngDefaultControl placeholder="name" name="name" [(ngModel)]="name">
    		<mat-hint></mat-hint>
  		</mat-form-field>
<p>
		<mat-form-field appearance="legacy">
    		<mat-label>Questions</mat-label>
			<mat-select placeholder="Questions" multiple [(ngModel)]="Questions">
		    	<mat-option name="Questions" ngDefaultControl  
		    		*ngFor="let question of questions"		    		 
		    		[value]="question._id">
		      		{{question.weight}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
		<mat-form-field appearance="legacy">
    		<mat-label>QuestionGroups</mat-label>
			<mat-select placeholder="QuestionGroups" multiple [(ngModel)]="QuestionGroups">
		    	<mat-option name="QuestionGroups" ngDefaultControl  
		    		*ngFor="let questionGroup of questionGroups"		    		 
		    		[value]="questionGroup._id">
		      		{{questionGroup.name}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
             <button 
		    (click)="addQuestionGroup(aggregateScore, weight, name, Questions, QuestionGroups)" 
		    class="btn btn-primary">add
		</button>
	</div> <!-- panel body -->	
</div> <!-- panel panel-primary -->
