<div class="panel panel-primary">
	<div class="panel-heading">
    	<h5>{{ title }}</h5>
	</div>
	
	<div class="panel-body">
		<mat-form-field appearance="legacy">
		    <mat-label>dateLinkCreated</mat-label>
		  	<input matInput ngDefaultControl [matDatepicker]="picker" placeholder="dateLinkCreated" name="dateLinkCreated" [(ngModel)]="dateLinkCreated">
			<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
			<mat-datepicker #picker></mat-datepicker>
			<mat-hint></mat-hint>
		</mat-form-field>
<p>
		<mat-form-field appearance="legacy">
    		<mat-label>name</mat-label>
		    <input matInput ngDefaultControl placeholder="name" name="name" [(ngModel)]="name">
    		<mat-hint></mat-hint>
  		</mat-form-field>
<p>
		<mat-form-field appearance="legacy">
    		<mat-label>ReferrerGroup</mat-label>
			<mat-select placeholder="ReferrerGroup"  [(ngModel)]="ReferrerGroup">
		    	<mat-option name="ReferrerGroup" ngDefaultControl  
		    		*ngFor="let referrerGroup of referrerGroups"		    		 
		    		[value]="referrerGroup._id">
		      		{{referrerGroup.name}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
		<mat-form-field appearance="legacy">
    		<mat-label>LinkProvider</mat-label>
			<mat-select placeholder="LinkProvider"  [(ngModel)]="LinkProvider">
		    	<mat-option name="LinkProvider" ngDefaultControl  
		    		*ngFor="let user of users"		    		 
		    		[value]="user._id">
		      		{{user.firstName}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
            <button 
		    (click)="addReferenceGroupLink(dateLinkCreated, name, ReferrerGroup, LinkProvider)" 
		    class="btn btn-primary">add
		</button>
	</div> <!-- panel body -->	
</div> <!-- panel panel-primary -->
